﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="@Url.Content("~/bootstrap/css/bootstrap.css")" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        .hidden {
            display: none;
        }
    </style>
    <link href="@Url.Content("~/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/bootstrap/ico/apple-touch-icon-144-precomposed.png")"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/bootstrap/ico/apple-touch-icon-114-precomposed.png")"/>
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/bootstrap/ico/apple-touch-icon-72-precomposed.png")"/>
                    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/bootstrap/ico/apple-touch-icon-57-precomposed.png")"/>
                                   <link rel="shortcut icon" href="@Url.Content("~/bootstrap/ico/favicon.png")"/>

    <!-- JQUI -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
                
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")"/>            
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome-ie7.min.css")"/>
    <![endif]-->

      <!-- Now the one for this site. Remember, in conflict, this will override anything above -->
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">

  </head>

  <body class="gradient-bkg gradient">

    <!-- JQuery Script References -->
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>  
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    @RenderSection("Scripts", required: false)
    <div class="navbar navbar-info navbar-fixed-top navbar-gold">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/Home/" class="brand"><i class="icon-globe"></i>&nbsp;&nbsp;Site Title</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">@Html.ActionLink("Home", "Index", "Home", new{}, new{})</li>
              <li>@Html.ActionLink("About", "About", "Home", new{}, new{})</li>
              <li>@Html.ActionLink("Contact", "Contact", "Home", new{}, new{})</li>
            </ul>
            <form class="navbar-form pull-right">
              @Html.Partial("_LoginPartial")
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <p>@RenderSection("featured", required: false)</p>

    <div class="container">
        @RenderBody()

      <hr>
      <footer>
        <p>&copy; Company 2012</p>
      </footer>
    </div> <!-- /container -->

    
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/bootstrap/js/bootstrap-transition.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-alert.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-modal.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-dropdown.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-scrollspy.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-tab.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-tooltip.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-popover.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-button.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-collapse.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-carousel.js")"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap-typeahead.js")"></script>

  </body>
</html>

